<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Pooltesting buddy</title>
</head>
<body>

    <header>
        <!-- main navbar -->
        <nav class="deep-orange lighten-1">
            <div class="nav-wrapper">
              <a href="{{ url_for('get_readings') }}" class="brand-logo">PoolTesting buddy</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="#">Home</a></li>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Log out</a></li>
                <li><a href="#">F.A.Q</a></li>
                <li><a href="#">Sign up</a></li>
              </ul>
            </div>
          </nav>
        <!-- mobile navbar -->
          <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align ">PoolTesting buddy</h4>
            </li>
            <li><a href="{{ url_for('get_readings') }}">Home</a></li>
            <li><a href="#">Log in</a></li>
            <li><a href="#">Log out</a></li>
            <li><a href="#">F.A.Q</a></li>
            <li><a href="#">Sign up</a></li>
          </ul>
    </header>
    
    {% block content %}
    {% endblock %}

    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
     {% block scripts %}
     {% endblock %}
</body>
</html>