<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontawesome cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" 
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block styles %}
    {% endblock %}
    <title>Pooltesting buddy</title>
</head>
<body>

    <header>
        <!-- main navbar -->
        <nav class="deep-orange lighten-1">
            <div class="nav-wrapper">
              <a href="{{ url_for('get_readings') }}" class="brand-logo">PoolTesting buddy<i class="fa-solid fa-water-ladder"></i></a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('get_readings') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Home</a></li>
                {% if session.user %}
                  <li><a href="{{ url_for('faq') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Pool testing guide</a></li>
                  <li><a href="{{ url_for('add_reading') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> New Reading</a></li>
                  <li><a href="{{ url_for('logout') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Log out</a></li>
                {% else %}
                  <li><a href="{{ url_for('login') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Log in</a></li>
                  <li><a href="{{ url_for('register') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Sign up</a></li>
                {% endif %}
                
              </ul>
            </div>
          </nav>
        <!-- mobile navbar -->
          <ul class="sidenav" id="mobile-demo">
            <li><h4 class="center-align brand-logo"><i class="fa-solid fa-water-ladder"></i>PoolTesting buddy</h4>
            </li>
            <li><a href="{{ url_for('get_readings') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i>Home</a></li>
            <li><a href="#" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i>Pool testing guide</a></li>
            {% if session.user %}
              <li><a href="{{ url_for('add_reading') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> New Reading</a></li>
              <li><a href="{{ url_for('logout') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Log out</a></li>
              
            {% else %}
              <li><a href="{{ url_for('login') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Log in</a></li>
              <li><a href="{{ url_for('register') }}" class="hvr-icon-drop"><i class="fa-solid fa-droplet hvr-icon"></i> Sign up</a></li>
          {% endif %}
          </ul>
    </header>
    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row flashes">
                    <h4 class="center-align">{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </section>

    <main class="container">
    {% block content %}
    {% endblock %}
    </main>
<!-- footer -->
    <footer class="page-footer deep-orange lighten-1">
        <div class="container">
        © 2022 Yoel Gutierrez
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://www.linkedin.com/in/yoel-gutierrez-b67279bb/"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
        <a class="grey-text text-lighten-4 right" target="_blank" href="https://github.com/yoesk8"><i class="fa-brands fa-github fa-2xl"></i></a>
        </div>
    </footer>


    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <script src="{{ url_for('static', filename='js/script.js') }}"></script>
     {% block scripts %}
     {% endblock %}
</body>
</html>