{% extends "base.html" %}
{% block content %}

  <h3 class="center-align">Edit Reading</h3>
  <div class="row">
      <form class="col s12" method="POST" action="{{ url_for('edit_reading', reading_id=reading._id) }}">
        <div class="row">
            <div class="input-field col s6">
                <i class="fas fa-calendar-alt prefix"></i>
                <input id="date" value="{{ reading.date }}" name="date" type="text" class="datepicker validate" required>
                <label for="date">Date</label>
            </div>
            <div class="input-field col s6">
                <i class="fas fa-clock prefix"></i>
                <input id="time" value="{{ reading.time }}" name="time" type="text" class="timepicker validate" required>
                <label for="time">Time</label>
            </div>
        </div>
        <!-- Pool type -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="pool_type" name="pool_type" class="validate" required>
                    <option value="" disabled>Choose your option</option>
                    {% for type in types %}
                        {% if type.type == reading.pool_type %}
                            <option value="{{ type.type }}" selected>{{ type.type }}</option>
                        {% else %}
                            <option value="{{ type.type }}">{{ type.type }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="pool_type">Select Pool</label>
            </div>
        </div>
        <!-- free chlorine -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="free_chlorine" name="free_chlorine" required>
                    <option value="{{ reading.free_chlorine }}" disabled selected>{{ reading.free_chlorine }}</option>
                    <option value="0.5">0.5 or below</option>
                    <option value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0 or above</option>
                </select>
                <label for="free_chlorine">Free Chlorine</label>
            </div>
        </div>
        <!-- total chlorine -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="total_chlorine" name="total_chlorine" required>
                    <option value="{{ reading.total_chlorine }}" disabled selected>{{ reading.total_chlorine }}</option>
                    <option value="0.5">0.5 or below</option>
                    <option value="1.0">1.0</option>
                    <option value="1.5">1.5</option>
                    <option value="2.0">2.0</option>
                    <option value="3.0">3.0</option>
                    <option value="4.0">4.0 or above</option>
                </select>
                <label for="total_chlorine">Total Chlorine</label>
            </div>
        </div>
        <!-- combined chlorine -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="combined_chlorine" name="combined_chlorine" required>
                    <option value="" disabled selected>{{ reading.combined_chlorine }}</option>
                    <option value="0">Below 0.5</option>
                    <option value="0.5">0.5</option>
                    <option value="1.0">1.0</option>
                </select>
                <label for="combined_chlorine">Combined Chlorine</label>
            </div>
        </div>
        <!-- ph -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="ph" name="ph" required>
                    <option value="" disabled selected>{{ reading.ph }}</option>
                    <option value="6.8">6.8 or below</option>
                    <option value="7.0">7.0</option>
                    <option value="7.2">7.2</option>
                    <option value="7.4">7.4</option>
                    <option value="7.6">7.6</option>
                    <option value="7.8">7.8 or above </option>
                </select>
                <label for="ph">p.H</label>
            </div>
        </div>
        <!-- water temperature -->
        <div class="row">
            <div class="input-field col s12 m12">
                <select id="water_temperature" name="water_temperature" required>
                    <option value="" disabled selected>{{ reading.water_temperature }}</option>
                    <option value="less than 27">Below 27 celsius</option>
                    <option value="27">27.0 celsius</option>
                    <option value="27.5">27.5 celsius</option>
                    <option value="28">28.0 celsius</option>
                    <option value="28.5">28.5 celsius</option>
                    <option value="29">29 celsius</option>
                </select>
                <label for="water_temperature">Water Temperature</label>
            </div>
        </div>
        <!-- outside parameters switch -->
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="fas fa-exclamation-circle fa-2xl"></i>
                    <label for="outside_parameters">
                        Readings outside parameters?
                        {% if reading.outside_parameters == "on" %}
                            <input type="checkbox" id="outside_parameters" name="outside_parameters" checked>
                        {% else %}
                            <input type="checkbox" id="outside_parameters" name="outside_parameters">
                        {% endif %}
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col center-align">
                <!-- cancel button -->
                <a href="{{ url_for('get_readings') }}" class="btn-large red">Cancel <i class="fas fa-times-circle right"></i></a>
                <button type="submit" class="btn-large">
                    Edit reading <i class="fas fa-edit"></i>
                </button>
            </div>
        </div>

      </form>
      
  </div>

{% endblock %}