{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Pool Testing F.A.Q</h3>
<ul class="collapsible">
  <li>
    <div class="collapsible-header"><i class="fas fa-glass-water"></i>How to take an accurate water Sample?</div>
    <div class="collapsible-body">
              <p>
                A swimming pool is a large body of water and, as a result, the chemical makeup can be different in certain locations. For example, evaporation and other influences can make the water at the surface of the pool have a slightly different composition to that at the bottom.
                For the most accurate result, it's recommended that you take a sample from at least 20 cm from the surface of the pool (elbow-depth)
              </p>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fas fa-water"></i>No Chemical Reading</div>
    <div class="collapsible-body">
              <p>
                If you are using test strips and getting no reading back from the water, this is often a result of chlorine levels. Sometimes, having a chlorine level that is too high can cause a bleaching effect on the strips, whereas having no chlorine can also impact other results.
If you believe you may have added too much chlorine, mix your water 50/50 with tap water to see if another test strip then produces a result. If it does, then you are likely to have too much chlorine.
              </p>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fas fa-clock"></i>Time Between Sample and Result</div>
    <div class="collapsible-body">
              <p>One of the biggest reasons for inaccurate water testing results, besides where you take the water sample from, is time. Leaving your water sample exposed for too long before testing it can lead to inaccurate results.
                Similarly, when using a solution-based test, leaving the final solution for too long can lead to changes in the colour, giving inaccurate readings. Thankfully, simply performing the test as instructed without unintended breaks will remove this issue.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fas fa-sort-down"></i>Chlorine</div>
    <div class="collapsible-body">
              <p>Chlorine levels should read between one and three parts per million (ppm). If your chlorine is too low, increasing the dosage is straightforward. If it is really low, you may require a shock treatment.

                If your chlorine levels are too high, then removing the dosage - often administered through a pool floater - and allowing it to sit will naturally lower the chlorine levels.
                </p>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fa fa-sort-down"></i>pH</div>
    <div class="collapsible-body">
              <p>Your pH levels should often read somewhere between 7.2 and 7.6. Generally, 7.4 is seen as the sweet spot.

                pH is a relatively easy thing to increase and decrease, so long as you have the correct chemicals. There are many pH increasers and decreasers available.
                
                It is worth noting that pH readings can be influenced by other chemicals, such as if there's too much chlorine or not the right alkalinity. Therefore, it's often recommended that you test the pH balance last, once the others have been confirmed.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="fas fa-tablets"></i>Interference with Tablets</div>
    <div class="collapsible-body">
              <p>
                If using a testing kit that involves dissolving tablets, ensure that you do not make contact with them. Handling the exposed tablet can cause inaccuracies with the final results.</p>
      </div>
    </div>
  </li>
</ul>

  
{% endblock %}