{% extends "base.html" %}
{% block content %}

            
    <!-- If user is logged in display this -->

{% if session.user %}    
<h3 class="center-align">All readings</h3>

    <ul class="collapsible popout ">
        {% for reading in readings %}
        <li>
            <div class="collapsible-header white-text orange darken-2">
                <i class="fas fa-caret-down"></i>
               <strong> {{reading.time}}  </strong> : {{reading.date}}
               {% if reading.outside_parameters == "on" %}
                   <i class="fas fa-exclamation-circle tooltipped" data-position="bottom" data-tooltip="Readings outside parameters!"></i>
               {% else %}
                   <i class="fas fa-duotone fa-check"></i>
               {% endif %}
            </div>
            <div class="collapsible-body">
                <strong>Pool</strong>: {{reading.pool_type}} <br>
                <strong>Free Chlorine</strong>: {{reading.free_chlorine}} <br>
                <strong>Total Chlorine</strong>: {{reading.total_chlorine}} <br>
                <strong>Combined Chlorine</strong>: {{reading.combined_chlorine}} <br>
                <strong>P.H</strong>: {{reading.ph}} <br>
                <strong>Water Temperature</strong>: {{reading.water_temperature}}
                <p><em>PoolTest completed by {{ reading.created_by }}</em></p>
                <div class="col s3">
                    {% if session.user|lower == "admin" %}
                    <a href="{{ url_for('edit_reading', reading_id=reading._id) }}" class="btn-small green accent-4">Edit</a>
                    <a href="{{ url_for('delete_reading', reading_id=reading._id) }}" class="btn-small red lighten-1">Delete</a>
                    {% endif %}
                </div>
            </div>
        </li>
         {% endfor %}
    </ul>
    <!-- If user is not logged in or doesn't have an account display this -->
{% else %}

  <div class="parallax-container">
    <div class="parallax"><img src="static/Images/swimming_pool.jpg" alt="swimming-pool"></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Welcome to PoolTesting Buddy 1.0!</h2>
      <p><em> <strong> PoolTesting buddy </strong></em> is a web app that allows you to keep track of your pool testing records,
        getting rid of paper sheets that get lost, wet or drawned upon by cheeky lifeguards. <br><br>
       Need a refresher on how to do a Pool test? <br><br> 
       No problem! Once you log in or sign up you can check our "Pool Testing guide" on the menu
       </p>
       <div class="card-action">
        <a class="btn-large orange accent-2" href="{{ url_for('login') }}">Log In</a>
      </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="static/Images/swimming_pool.jpg" alt="swimming-pool"></div>
  </div>
{% endif %}
{% endblock %}