{% extends "base.html" %}
{% block content %}

    

    {% for reading in readings %}
        {{reading.time}}
        {{reading.free_chlorine}}
        {{reading.total_chlorine}}
        {{reading.combined_chlorine}}
        {{reading.ph}}
        {{reading.water_temperature}}
        {{reading.date}}
    {% endfor %}
    <ul class="collapsible popout ">
        <li>
          <div class="collapsible-header white-text darken-4 deep-orange"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text darken-4 deep-orange"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header white-text darken-4 deep-orange"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
{% endblock %}