<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello I've been rendered</h1>
    {% for reading in readings %}
        {{reading.time}}
        {{reading.free_chlorine}}
        {{reading.total_chlorine}}
        {{reading.combined_chlorine}}
        {{reading.ph}}
        {{reading.water_temperature}}
        {{reading.date}}
    {% endfor %}
</body>
</html>